/* Montserrat (weight = 600) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* Roboto (weight = 300, weight = 500) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

@font-face {
  font-family: 'Eras Bold ITC';
  src: url(./Eras-Bold-ITC.ttf) format('truetype');
}

body, body * {
  margin: 0;
}
